.VPContent.is-home .VPHome .VPHero.VPHomeHero .container .main .heading .name.clip {
  text-wrap: nowrap;
}
.VPContent.is-home .VPHome .vp-doc.container div div {
  max-width: 48rem;
  margin: auto;
}

.VPContent.is-home .VPHome .vp-doc.container div div h2 {
  text-align: center;
  font-size: xx-large;
}

.VPContent.is-home .VPHome .vp-doc.container div div h2 a {
  visibility: hidden;
}
